body {
             background-color: #919191;
             margin: 10px; 
             font-family: Rancho; 
             position: absolute; 
  }
  header {
  	border-radius: 5px; 
      border-style: solid; 
      border-color: #070E00;
      background-color:#DA008C ;
      padding:10px; 
    	}
  nav {
	border-radius: 5px; 
      border-style: solid; 
      border-color: #070E00;
      background-color:#DA008C ;
      padding:10px; 
  		}
  #education {
  		border-radius: 5px; 
      border-style: solid; 
      border-color: #070E00;
      background-color:#DA008C ;
      padding:10px; 
      }
      aside {
      		border-radius: 5px; 
      border-style: solid; 
      border-color: #070E00;
      background-color:#DA008C ;
      padding:10px; 
      
      	}
      section {
      		border-radius: 5px; 
      border-style: solid; 
      border-color: #070E00;
      background-color: #DA008C;
      padding:10px; 
      	}
      #contact {
      		border-radius: 5px; 
      border-style: solid; 
      border-color: #070E00;
      background-color: #DA008C;
      padding:10px; 
      	}
